MAILTO=""

*/3     *       *       *       * /home/binkweb/binkterm-php/scripts/binkp_poll.php --all --queued-only
*/3     *       *       *       * /home/binkweb/binkterm-php/scripts/process_packets.php
*/3     *       *       *       * /home/binkweb/binkterm-php/scripts/crashmail_poll.php

0       1       *       *       * /home/binkweb/binkterm-php/scripts/update_nodelists.php

@reboot /home/claudebbs/binkterm-php/scripts/binkp_server.php --daemon
