{
  "sources": [
    {
      "name": "FidoNet",
      "domain": "fidonet",
      "url": "https://darkrealms.ca/Z1DAILY.Z|DAY|",
      "enabled": true
    },
    {
      "name": "FSXNet",
      "domain": "fsxnet",
      "url": "https://github.com/fsxnet/nodelist/raw/refs/heads/master/FSXNET.Z|DAY|",
      "enabled": true
    }
  ]
}