{

    "blackjack": {
        "enabled": true,
        "start_bet": 10
    },
    "klondike-solitaire": {
        "enabled": true
    },
    "hangman": {
        "enabled": true
    },
    "wordle":{
        "enabled": true
    }

}
