Welcome to BinktermPHP Point System!

This is a modern web-based bulletin board system (BBS) connected to the Fidonet Technology Network (FTN). As a point system, we operate as a sub-node providing access to traditional Fidonet messaging and forums.

Please create an account or log in to get started exploring the network!