{% extends "base.twig" %}

{% block title %}{{ t('ui.ads.advertisement', {}, locale, ['common']) }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-center">
        {% if ad %}
            <div id="fullAdContainer" class="w-100" data-ad-content="{{ ad.content|e('html_attr') }}"></div>
        {% else %}
            <p class="text-muted">{{ t('ui.ads.none_available', {}, locale, ['common']) }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/ansisys.js"></script>
<script src="/js/sixel.js"></script>
<script src="/js/pcboard.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('fullAdContainer');
    if (!container || typeof renderAdContent !== 'function') {
        return;
    }
    renderAdContent(container, container.dataset.adContent || '');
});
</script>
{% endblock %}
